<% layout('layouts/boilerplate.ejs') -%>


    <h1>   <%=experience.username %></h1>
    <p><%=experience.experience %></p>
   
    <embed src=<%= experience.resume.url %> width="500" height="375" 
    type="application/pdf"  >
    
    <footer>
        <a href="/experiences" >Back to Experiences</a>
        <a href="/experiences/<%=experience._id %>/edit">edit</a>
        <form action="/experiences/<%=experience._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        
    </footer>

</div>
